[submodule "third-party/1397104"]
	path = third-party/1397104
	url = https://gist.github.com/1397104.git
[submodule "third-party/dircolors-solarized"]
	path = third-party/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "third-party/solarized"]
	path = third-party/solarized
	url = https://github.com/altercation/solarized.git
[submodule "third-party/styleguide"]
	path = third-party/styleguide
	url = https://github.com/google/styleguide.git
